*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
local.properties
proguard/
*.log
.idea
*.iml
./*.iml
library.iml
Incidencias.iml
.idea/gradle.xml
.idea/misc.xml
.idea/workspace.xml
android-betterpickers/android-betterpickers.iml
pullToRefreshActionbarcompat/pullToRefreshActionbarcompat.iml
swipelistview/swipelistview.iml
JazzyViewPager.iml
SlidingMenu.iml
